<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partial/head.html"/>
<body>
<header th:replace="partial/header.html"/>
<div id="mainBody">
    <div class="container">
        <div class="row">
            <div class="span12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Email</th>
                        <th>Activo</th>
                        <th style="width:25%">Roles</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${users}" th:id="${user.id}">
                        <td th:text="${user.id}"/>
                        <td th:text="${user.name}"/>
                        <td th:text="${user.lastName}"/>
                        <td th:text="${user.email}"/>
                        <td>
                            <input type="checkbox" th:checked="${user.active}"/>
                        </td>
                        <td>
                        <select th:id="'role-select-' + ${user.id}" multiple="multiple">
                            <option th:id="${user.id} + '-' + ${role.id}" th:each="role : ${roles}" th:value="${role.id}" th:text="${role.role}" th:selected="${user.getRoles().contains(role.id)}"/>
                        </select>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<footer th:replace="partial/footer.html"/>
<!-- Placed at the end of the document so the pages load faster ============================================= -->
<script th:inline="javascript">
    /*<![CDATA[*/
    var users = /*[[${users}]]*/ 'default';
    /*]]>*/
</script>
<scripts th:replace="partial/scripts.html"/>
<script src="/js/user-list.js"></script>

</body>
</html>