<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partial/head.html"/>
<body>
    <div class="banner-top container-fluid" id="home">
        <header th:replace="partial/header.html"/>
        <div class="banner_inner">
            <div class="services-breadcrumb">
                <div class="inner_breadcrumb">

                    <ul class="short">
                        <li>
                            <a href="index.html">Home</a>
                            <i>|</i>
                        </li>
                        <li>Inscripción Existosa</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
	<!--// header_top -->
	<!-- top Products -->
	<section class="banner-bottom-wthreelayouts py-lg-5 py-3">
		<div class="container">
			<div class="inner_sec">
				<div class="contact_grid_right">
						<div class="row contact_right_grid">
                            <div class="col-md-3 con-right"></div>
							<div class="col-md-6 con-right">
                                <h3 class="tittle-w3layouts text-center my-lg-4 my-4">Inscripción Existosa</h3>
                                <h5 class="tittle-w3layouts text-center my-lg-4 my-4">Ya estas registrado haga click <a href="/login" style="color:blue;">aca</a> para ir al login.</h5>
							</div>
						</div>
				</div>
			</div>
		</div>
	</section>

	<!--footer -->
<footer th:replace="partial/footer.html"/>
<scripts th:replace="partial/scripts.html"/>
</body>
</html>