<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="partial/head.html"/>
<body>
<div class="banner-top container-fluid" id="home">
    <header th:replace="partial/header.html"/>
    <div class="banner_inner">
        <div class="services-breadcrumb">
            <div class="inner_breadcrumb">

                <ul class="short">
                    <li>
                        <a href="/">Home</a>
                        <i>|</i>
                    </li>
                    <li>Mis compras</li>
                </ul>
            </div>
        </div>

    </div>
</div>
<!--// header_top -->
<!-- top Products -->
<section class="banner-bottom-wthreelayouts py-lg-5 py-3">
    <div class="container">
        <div class="inner-sec-shop px-lg-4 px-3">
            <div class="row">
                <div class="col-md-8">
                <h3 class="tittle-w3layouts my-lg-4 mt-3">Mis compras </h3>
                </div>
            </div>
            <div class="checkout-right">
                <table class="timetable_sub">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Fecha de compra</th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio unidad</th>
                        <th>Monto Total</th>
                        <th>Reclamos</th>
                    </tr>
                    </thead>
                    <tbody id="jar">
                    <tr th:each="purchase : ${purchases}" th:id="${purchase.id}">
                        <td class="invert" th:text="${purchase.id}"/>
                        <td class="invert" th:text="${#dates.format(purchase.purchaseDate, 'dd-MM-yyyy HH:mm')}"/>
                        <td class="invert" th:text="${purchase.productName}"/>
                        <td class="invert" th:text="${purchase.quantity}"/>
                        <td class="invert" th:text="'$' + ${purchase.price}"/>
                        <td class="invert" th:text="'$' + ${purchase.price}*${purchase.quantity}"/>
                        <td th:if="${#lists.isEmpty(purchase.claims)}" class="invert">Sin Reclamos</td>
                        <td th:if="${not #lists.isEmpty(purchase.claims)}" th:id="'purchase-' + ${purchase.id}" class="invert view-more">Ver Reclamo</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row" style="margin-top:20px">
                <div class="mx-auto">
                    <ul class="pagination justify-content-center">
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>

<!--footer -->
<footer th:replace="partial/footer.html"/>
<script th:inline="javascript">
    /*<![CDATA[*/
    purchases = /*[[${purchases}]]*/ 'default';
    /*]]>*/
</script>
<scripts th:replace="partial/scripts.html"/>
<script src="/js/purchase-list.js"></script>
</body>
</html>